# Virtualenv
/.env/

# Package
*.egg-info

# Compiled python
__pycache__/

# Pytest cache
.pytest_cache/

# Outputs
*.pth

# Doc
docs/build

# Vscode
/.vscode

# Package build
/build
/dist

# dotenv
.env.test.local

# datasets
/datasets