# Virtualenv
/.venv/

# Package
*.egg-info

# Compiled python
__pycache__/

# Pytest cache
.pytest_cache/

# Outputs
*.pth

# Doc
docs/build

# Vscode
/.vscode

# Package build
/build
/dist

# dotenv
.env.test.local

# datasets
docs/source/notebooks/datasets/*.*
docs/_build
docs/_static
docs/artifacts