language: python
cache:
  pip: true
  directories:
  # - datasets
before_install:
  - python --version
  - pip install -U pip
  - pip install codecov
install:
    - pip install -e .[test] # install package + test dependencies
script:
    - pytest -s --user_name $CHALLENGE_USER_NAME --user_password $CHALLENGE_USER_PASSWORD --cov=time_series_predictor # run tests
after_success:
  - codecov # submit coverage 
